/*=================================
Universal Elements
=================================*/
/* Website container */
body {
    color: #333;
}

/* Menu logo styling */
.scoot_digital_logo {
    width: 138px;
}

/* General background */
section.content-area {
    padding: 96px 0;
    position: relative;
    overflow: hidden;
    background: url(https://i.imgur.com/easdQoX.jpg);
    background-size: 100%;
    background-size: cover;
    background-position: center;
}

/* Main header */
header.entry-header {
    text-align: center;
    margin-top: 10px;
}

/* Subheading */
h4 {
    margin: 7px 0;
}

/* Straight line */
hr {
    margin: 0;
}

/*=================================
Login Page
=================================*/
div#primary, .row {
    display: flex;
    justify-content: center;
}

/* Login title */
h1.entry-title {
    visibility: hidden;
    padding: 0 0 40px 0;
}

/* The main article container */
article#post-501 {
    background-image: url("https://i.imgur.com/gUFTdp2.png"), linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0.4));
    background-position: 0 7%;
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 1046px !important;
    padding: 20px;
}

/* Log in button */
p.login-submit {
    text-align: center;
}

/* All login inputs */
.wppb-form-field input, .wppb-form-field input[type="text"], .wppb-form-field input[type="number"], .wppb-form-field input[type="email"], .wppb-form-field input[type="url"], .wppb-form-field input[type="password"], .wppb-form-field input[type="search"], .wppb-form-field select, .wppb-form-field textarea, .wppb-checkboxes, .wppb-radios, #wppb-login-wrap .login-username input, #wppb-login-wrap .login-password input {
    width: 100%;
}

/* All login label fields */
.wppb-form-field label, #wppb-login-wrap .login-username label, #wppb-login-wrap .login-password label {
    width: 100%;
}

/* Password field */
.login-password input#user_pass {
    height: 50px;
}

/*=================================
Statistics Container
=================================*/
/* Article background */
article {
    padding: 15px;
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0.4));
}

/* Statistics container */
.stats_container {
    display: flex;
}

/* iFrames within statistics container*/
.stats_container iframe {
    width: 100%;
}

@media only screen and (max-width: 991px) {
    .stats_container {
        display: initial;
    }
}

/*=================================
Miscellaneous styles
=================================*/
/* Scoot Portal Login Page Header Removal https://colorlib.com/wp/forums/topic/remove-header-callout-from-all-pages-but-not-portfolio/ */
.header-callout {
    display: none;
}

/* Hiding the Meta Content on the Private Page */
ul.post-meta {
    display: none;
}

/* Removal of the author bio for posts */
.author-bio {
    display: none;
}

/* Removal of the related posts */
.shapely-related-posts {
    display: none;
}

/* Removal of commenting abilities for posts */
div#comments {
    display: none;
}

/* Removal of forced width constraints */
.col-md-8 {
    width: 100%;
}

/* Removal of the search function; top right */
.module.widget-handle.search-widget-handle {
    display: none;
}
