/*=================================
Universal Elements
=================================*/
/* Website container */
body {
    color: #333;
}

/* Menu logo styling */
.scoot_digital_logo {
    width: 138px;
}

/* General background */
section.content-area {
    padding: 96px 0;
    position: relative;
    overflow: hidden;
    background: url(https://i.imgur.com/easdQoX.jpg);
    background-size: 100%;
    background-size: cover;
    background-position: center;
}

/* Main header */
header.entry-header {
    text-align: center;
    margin-top: 10px;
}

/* Subheading */
h4 {
    margin: 7px 0;
}

/* Straight line */
hr {
    margin: 0;
}

/*=================================
Login Page
=================================*/
div#primary, .row {
    display: flex;
    justify-content: center;
}

/* The main article container */
article#post-501 {
    padding: 15px;
    max-width: 300px;
}

/* Log in button */
p.login-submit {
    text-align:  center;
}

/*=================================
Statistics Container
=================================*/
#primary article {
    background: #ffffffb3;
    max-width: 1046px !important;
    padding: 20px;
}

/* Statistics container */
.stats_container {
    display: flex;
}

/* iFrames within statistics container*/
.stats_container iframe {
    width: 100%;
}

/*=================================
Miscellaneous styles
=================================*/
/* Scoot Portal Login Page Header Removal https://colorlib.com/wp/forums/topic/remove-header-callout-from-all-pages-but-not-portfolio/ */
.header-callout {
    display: none;
}

/* Removal of the author bio for posts */
.author-bio {
    display: none;
}

/* Removal of the related posts */
.shapely-related-posts {
    display: none;
}

/* Removal of commenting abilities */
div#comments {
    display: none;
}

/* Removal of forced width constraints */
.col-md-8 {
    width: 100%;
}

/* Removal of the search function; top right */
.module.widget-handle.search-widget-handle {
    display: none;
}
